:root {
  --blue: rgb(147, 163, 226);
}
.header {
    padding: 30px;
    text-align: center;
    background: var(--blue); 
}
  body {
    background-color: rgb(254, 217, 237); 
 }
  header div{
    display: flex;
    background-color: var(--blue);
  }
      @media only screen and (max-width: 600px){
        article{
          width: 95%;
          display: flex;    
          flex-direction: column;
          align-items: center;
          margin: 0 auto;
          padding: 0 10px;
         }
         h2, p {
          max-width: 100%;           
          text-align: center; 
        }
        }
        @media only screen and (min-width: 601px) and (max-width: 900px) {
          main{
            width: 70%;
          }
          article{
            display: flex;
            flex-direction: row;
          }
        }
        @media only screen and (min-width: 901px) {
          img{
            align-self: start;
          }
        }
h1{
  color: rgb(6, 38, 111);
  font-size: 55px;
}
h2{
  color: rgb(18, 47, 82);
  font-size: 40px;
  text-align: center;
}
p{
  width: 800px;
  text-align: center;
  font-size: 30px;
}
article{
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
img{
  max-width: 100%;
}
footer{
  padding: 15px;
  text-align: center;
  background-color: var(--blue);
}
p1{
  font-size: 30px;
}