header{
    background-color: rgb(219, 203, 192);
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
body{
    background-color: antiquewhite;

}
header div{
    display:flex;
}
@media only screen and (max-width:600px){
    body {
    background-color: rgb(253, 213, 220);
     }
}
.flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: rgba(255, 222, 222, 0.805);
    flex-direction: column;
  }
  
  
  .flex-container > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }