body {
    background-color: rgb(255, 123, 200);
}
header {
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    background-color: white;

}

@media only screen and (max-width: 600px) {
    body {
        background-color: lightcoral;
    }
}

img {
    width: 400px;
    height: 400px;
  }
  