body { 
    font-family: Arial, sans-serif; 
    margin: 0; 
    padding: 0; 
    background-color: #97BC62;
    color: #edf5e1 ;
    
    
} 

header { 
    background-color: #2C5F2D; 
    color: #edf5e1; 
    text-align: center; 
    width: auto;
    height:fit-content;
} 


nav { 
    background-color: #2C5F2D ; 
    padding: 10px; 
    
} 

nav a { 
    color: #edf5e1; 
    background-color: #2C5F2D ;
    text-decoration: solid; 
    padding: 10px; 
    margin-right: 10px; 
    display: inline-block; 
    
} 

.container { 
    display: flex; 
    justify-content: space-between; 
    max-width: 95%; 
    margin: 0 auto; 
    padding: 20px; 
} 

article p { 
    text-align: justify; 
    width: auto;
    height: auto;
} 

main { 
    flex: 2; 

} 

article { 
    margin-bottom: 20px; 
    padding: 10px 20px; 
    border: 1px solid rgb(145, 145, 145); 
    margin-right: 10px; 
    background-color: #2C5F2D;
    width: auto;
    height: auto;
} 

aside { 
    flex: 1; 
    background-color: #31473A; 
    padding: 10px; 
    color: #edf5e1;
   
} 

footer { 
    background-color: #31473A; 
    color: #edf5e1; 
    text-align: center; 
    position: fixed; 
    bottom: 0; 
    width: 100%; 
} 
div{
   margin-left: 1rem;
