header img{
 width: 200px;
 height:300;


    
}
header{
 background-color: rgb(255, 255, 255);
display: flex;
}

article{
    display: flex;
    width: 600px;
    margin: left;
    flex-direction: row;
    align-items: flex-start;
    div{
        width: 400px;
    }
    img{
        width: 250px;
        margin-right: auto;
  
    }
}

h1{
 font-style: Italic;
}

    

.motto{
    font-size: 50px;
}
.motto{
    font-style: oblique;
}

    
p{
    font-size: 20px;
    font-style: italic;
}
h3{
    font-size: 30px;
    font-style: italic;
}
h4 img{
width: 400px;
}


