
body {
  background-color: #ffbdbd;
}

h2 {
  border-bottom: 2px solid #ffc5c5;
}

.container {
  color: #99daec;
  background-color: #ffffff;
  padding: 15px;
}

button {
  background-color: #ffe7e7;
  color: #feacfc;
  border: 1px solid #e7c0f8;
  padding: 5px;
}
