header {
    width: 400PX;
    background: rgb(189, 45, 255);
}
main{
    display: flex;
    flex-direction: column ;
}
article{
    gap: 2rem;
    display: flex;
    flex-direction: row-reverse ;
    justify-content: space-between;
    width: 600px;
    background: #04001C;
    color: #ffffff;
}
article h2 {
    /* background: rgb(255, 255, 255); */
   
    /* width: 150px; */

 
}

p {
    font-size: 23px;
}
p{
    color:  #ffffff;
}
h1{
    color: rgb(205, 92, 92);
}
h1{
    background: rgb(51, 77, 205);
}
p{

}
h2{
    background: forestgreen;
}
h1{
    background: forestgreen;
    color: rgb(220, 197, 65);
}
h2{
  
}
h2{
    background: #04001C;
}
picture{
   display: block
}