* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    padding: 20px;
    background: #ead9ec;
  }
  
  /* Header/Blog Title */
  header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: rgb(255, 232, 250);
  }
  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {

    width: 75%;
    display: flex;
    gap: 1rem;
  }
  
  /* Right column */
  .rightcolumn {
    display: flex;
    width: 25%;
    flex-direction: column;
    padding-left: 20px;
  }
  
  /* Fake image */
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
  
  /* Add a card effect for articles */
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }
  
  /* Clear floats after the columns */
  .row {
    display: flex;

  }
  
  /* Footer */
  footer {
    padding: 20px;
    text-align: center;
    background: #ffdff5;
    margin-top: 20px;
    img:hover{
      transform: translateX(100px);
    }
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
      width: 100%;
      padding: 0;
    }
  } 

