:root{
--purple:#c495fd;
--green:#66c390;
--pink:#c18e64;
--black:#343434;
--font:Candara;
--size: 25px;
}
body{
    margin: 0;
    background: linear-gradient(45deg, var(--purple), #a69efd, #b290f1, #f18afa);
    animation: body 3s infinite;
    background-size: 200%;
}
@keyframes body {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
header{
    background:var(--green);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
button{
    background-color: var(--pink);
    border:none;
    text-align: center;
    padding: 2px;
    font-size: 20px;
    font-family: var(--font)
}
main{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    gap: 1rem;
}
footer{
    display: flex;
    justify-content:right;
    align-self:flex-end;
    background: var(--green);
    font-family: var(--font);
    font-size: var(--size);

}
.logo img{
    width: 5rem;
    padding: 0 1rem;
}
nav{
    padding: 1rem;
}
a:link{
    color: var(--black);
}
a:visited{
    color:var(--black)
}
.motto{
    font-size: var(--size);
    font-family:var(--font);
}
article{
    border: none;
    display: flex;
    padding: 1rem;
    background-color: var(--green);
}
article picture img{
    max-width: 400px;
}
article .content{
    display: block;
    padding: 10px;
    font-family: var(--font);
    font-size: var(--size);

}
h1{
    display: flex;
    align-self: center;
    font-family: var(--font);
    font-size: 50px;
}
h2{
    text-decoration: underline var(--pink) 5px;
}
@media screen and (width < 500px) {
    header{
        flex-direction: column;
    }
}
.imglink{
    position: relative;
  width: 100%;
}

  .buttonlink {
    position: absolute;
    width: 100%;
    left:0;
    top: 65%;
    text-align: center;
    opacity: 0;
    transition: opacity .5s ease;
  }
  .buttonlink a {
    padding: 15px 40px; 
    text-align: center;
    background: #f6f6f5; 
    color: rgb(9, 9, 9); 
    border: 1px solid #f6f6f5; 
    z-index: 1; 
  }
  .imglink:hover .buttonlink{
    opacity:1;
  }
  