:root{
--purple:#7942BD;
--green:#42BD79;
--pink:#BD7942;
--black:#313131;
--font:Candara;
--size: 25px;
}
body{
    margin: 0;
    background-color:var(--purple)
}
header{
    background:var(--green);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
button{
    background-color: var(--pink);
    border:none;
    text-align: center;
    padding: 2px;
    font-size: 20px;
    font-family: var(--font)
}
main{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    gap: 1rem;
}
footer{
    display: flex;
    justify-content:right;
    align-self:flex-end;
    background: var(--green);
    font-family: var(--font);
    font-size: var(--size);

}
.logo img{
    width: 5rem;
    padding: 0 1rem;
}
nav{
    padding: 1rem;
}
a:link{
    color: var(--black);
}
a:visited{
    color:var(--black)
}
.motto{
    font-size: var(--size);
    font-family:var(--font);
}
article{
    border: 1px solid gray;
    display: flex;
    padding: 1rem;
    background-color: var(--green);
}
article picture img{
    max-width: 400px;
}
article .content{
    display: block;
    padding: 10px;
    font-family: var(--font);
    font-size: var(--size);

}
h1{
    display: flex;
    align-self: center;
    font-family: var(--font);
    font-size: 50px;
}
h2{
    text-decoration: underline var(--pink) 5px;
}
@media screen and (width < 500px) {
    header{
        flex-direction: column;
    }
}
