@font-face {
    font-family: myFirstFont;
    src: url('fonts/BLKCHCRY.TTF');
}
header {
    background-color: rgb(0, 0, 0);
    font-size: 3rem;

width:900;
height: 700;
background-size: cover;


}
header {
  
}

body {
    background-color: rgb(0, 0, 0);
}

header div {
    display: flex;
}

main {
    display: flex; 
    flex-direction: column;
    gap: 100px;
    font-size: larger;
}

#logo {
    color: rgb(38, 219, 62)
}

#motto {
    color: rgb(255, 255, 255)
}

#hav {
    color: rgb(255, 255, 255)
}

#avatar {
    color: rgb(255, 255, 255)
}

@media only screen and (max-width: 600px) {
    header {
        background-color: rgb(32, 121, 39);

    }
}

p{
    font-family: myFirstFont;
}
article {
    display: flex;
color: rgb(60, 218, 60);
    img {
        max-height: 560px;
        min-width: 360px;
        
    }
}
