body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #01882c;
    color: #fff;
    padding: 20px;
    text-align: center;
}
nav {
    background-color: #07c800;
    color: #fff;
    padding: 10px;
    text-align: center;
}
nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}
main {
    padding: 20px;
}
article {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
   padding: 1rem;
}

h2 {
    margin-top: 0;
}
.dagestan {
    width: 300px;
    margin: auto;
}
article  header{
    display: flex;
    flex-direction: column;
}