header{
    border: 5px solid rgb(44, 59, 59);
}
body{
    color: rgb(59, 59, 59);
    text-align: center;
    margin: 0;
    padding: 0;
}
main{
    background: gray;
    article{
        background: white;
        display: flex;
        width: 800px;
        margin: auto;
        flex-direction: column;
        img{
            width: auto;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    
    }
}
